.topic-card .card-body {
    padding: 0px;
}

.topic-card .card-body textarea {
    border: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: 'Gravitas One', serif;
    font-size: 20px;
}

.topic-card .card-header {
    text-align: center;
    text-transform: uppercase;
}

.topic-card .card-header h6 {
    width: 100%;
}

.data-list {
    height: 100%;
    border: 1px solid rgba(0,0,0,.125);
}

.data-list li {
    border-left: 0px;
    border-right: 0px;;
    border-radius: 0px;
}

.toggle-spin {
    text-transform: uppercase;
    display: block;
}

.spin {
    display: none;
}

#machine {
    width: 350px;
    margin: 0pt auto;;
    height: 490px;
    background-color: #f4e468;
    overflow: hidden;
    position: relative;
}

.line {
    position: absolute;
    top: 50%;
}

#machine  .list{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 163.3px;
    color: #000;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: 'Gravitas One', serif;
    border-left: 1px solid #999;
    box-shadow: inset 0 0 12px 4px rgba(238, 158, 57, 0.5);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e468;
}

.slotMachineContainer {
    padding-top: 163.3px;
    
}